* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Merriweather', serif;

}

/* ----------------HOME PAGE: TOP-------------------*/
.grid {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: visible;
	display: grid;
}
.grid.home {
	background-image: url("images/homebackground.jpg");
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"icons title"
	". menu"
	". ."
	". .";
	padding-top: 70px;
	padding-bottom: 1200px;
	color: #333333;
}
.title.home {
	grid-area: title;
	text-align: right;
	padding-right: 150px;
}
.icons {
	grid-area: icons;
  font-size: 30px;
  width: 100%;
	text-align: left;
	padding-left: 150px;
}
.menu {
	grid-area: menu;
	padding-top: 70px;
	text-align: right;
	padding-right: 150px;
}
ul {
	list-style-type: none;
}
.email {
	padding-right: 75px;
	color: #7D7B80;
}
/* ---------------------------ABOUT PAGE------------------------*/

.grid.about {
	background-color: #F4C5B0;
	display: grid;
}
.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 50px;
}
.row .headshot {
	height: 220px;
	width: 220px;
	border-radius: 50%;
}
.row img {
	height: 190px;
	width: 200px;
	padding-left: 200px;
	padding-right: 200px;
}
.row .zelda .paintbrush .house {
	height: 100px;
	width: 120px;
}
.title.about {
	text-align: center;
	color: white;
	padding: 80px;
	font-size: 25px;
}
.music img {
	height: 100px;
	width: 145px;
}
.subtitle.about {
	color: #333333;
}
.right {
	text-align: right;
}
p {
	font-size: 20px;
}
