* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Merriweather', serif;

}

/* HOME PAGE: TOP*/
.grid {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: visible;
	display: grid;
}
.grid.top {
	background-image: url("images/homebackground.jpg");
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"icons title"
	". menu"
	". ."
	". .";
	padding-top: 70px;
	padding-bottom: 1200px;
	color: #333333;
}
.title {
	grid-area: title;
	text-align: right;
	padding-right: 150px;
}
.icons {
	grid-area: icons;
  font-size: 30px;
  width: 100%;
	text-align: left;
	padding-left: 150px;
}
.menu {
	grid-area: menu;
	padding-top: 70px;
	text-align: right;
	padding-right: 150px;
}
ul {
	list-style-type: none;
}
.email {
	padding-right: 75px;
	color: #7D7B80;
}
/* ABOUT PAGE (FRONT PAGE BOTTOM)*/

.grid {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(8, 1fr);
	grid-template-areas:
	"title title"
	"row1col1 row1col2"
	"row2col1 row2col2"
	"row3col1 row3col2"
	"row4col1 row4col2"
	"row5col1 row5col2"
	"row6col1 row6col2";
	background-color: #908988;
}
.title {
	text-align: center;
	color: white;
}
.subtitle {
	color: #333333;
}
.row1col1 {
	grid-area: row1col1;
}
.row1col2 {
	grid-area: row1col2;
}
.row2col1 {
	grid-area: row2col1;
}
.row2col2 {
	grid-area: row2col2;
}
.row3col1 {
	grid-area: row3col1;
}
.row3col2 {
	grid-area: row3col2;
}
.row4col1 {
	grid-area: row4col1;
}
.row4col2 {
	grid-area: row4col2;
}
.row5col1 {
	grid-area: row5col1;
}
.row5col2 {
	grid-area: row5col2;
}
.row6col1 {
	grid-area: row6col1;
}
.row6col2 {
	grid-area: row6col2;
}
